$radial: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #2c00f1 45%, #f50404 53.09%, #09ff00 100%);
$color-red: rgb(151, 2, 2);
$color-green: rgb(108, 221, 16);
$color-white: #ffffff;
$color-d1cece: #d1cece;
$color-black: #000000;
$color-225a8d: #225a8d;
$color-6b6b6b: #6b6b6b;
$color-cfcfcf: #cfcfcf;
$color-01c6ab: #01c6ab;
$color-a3be10: #a3be10;
$color-c0df19: #c0df19;
$color-fbff00: #fbff00;
$color-fbffe3: #fbffe3;
$color-e9e9e9: #e9e9e9;
$color-e7e7e7: #e7e7e7;
$color-919191: #919191;
$color-fdfff0: #fdfff0;
$color-528349: #528349;


// Size
$space-1px: 0.063rem;
$space-5px: 0.313rem;
$space-7px: 0.438rem;
$space-9px: 0.563rem;
$space-10px: 0.625rem;
$space-12px: 0.75rem;
$space-14px: 0.875rem;
$space-15px: -0.938rem; //Menfi !!!
$space--15px: 0.938rem;
$space-16px: 1rem;
$space-20px: 1.25rem;
$space-22px: 1.375rem;
$space-25px: 1.563rem;
$space-28px: 1.75rem;
$space-31px: 1.938rem;
$space-32px: 2rem;
$space-35px: 2.188rem;
$space-40px: 2.5rem;
$space-45px: 2.813rem;
$space-50px: 3.125rem;
$space-55px: -3.438rem; //Menfi !!!
$space--55px: 3.438rem;
$space-95px: 5.938rem;
$space-100px: 6.25rem;
$space-112px: 7rem;
$space-115px: 7.188rem;
$space-124px: 7.75rem;
$space-130px: 8.125rem;
$space-131px: 8.188rem;
$space-136px: 8.5rem;
$space-145px: 9.063rem;
$space-150px: 9.375rem;
$space-168px: 10.5rem;
$space-265px:16.563rem;
$space-330px:20.625rem;
$space-350px:21.875rem;
$space-360px: 22.5rem;
$space-400px: 25rem;
$space-415px:25.938rem;
$space-521px:32.563rem;
$space-595px:37.188rem;
$space-650px:40.625rem;
$space-1150px:71.875rem;
$space-1200px: 75rem;



body {
  margin: 0;
}

.headline {
  border: $space-1px solid $color-white;
  width: auto;
  height: $space-100px;
  // border-bottom: 1px solid $color-d1cece;
  box-shadow: $space-5px $space-5px $space-5px $color-d1cece;


  div {
    // border: 1px solid $color-black;
    width: auto;
    height: $space-50px;
    margin: $space-25px $space-45px $space-25px $space-45px;

    div {
      // border: 1px solid $color-black;
      float: left;
      font-family: 'Permanent Marker', helvetica;
      font-size: $space-32px;
      margin: 0;
    }

    i {
      float: right;
      color: $color-225a8d;
    }
  }

  .xari-bulbul {
    // border: 1px solid black;
    height: $space-50px;
    float: right;
    margin-right: $space-35px;
  }

  .demir-yumruq {
    // border: 1px solid black;
    margin-top: $space-15px;
    float: right;
    margin-right: $space-55px;
    transition: all .3s linear;
  }

  .demir-yumruq:hover {
    opacity: 0;
  }
}

.search {
  border: $space-1px solid $color-black !important;
  width: $space-131px !important;
  height: $space-50px !important;
  float: right !important;
  margin-right: $space-50px !important;
  border-radius: $space-10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    text-transform: uppercase;
    color: $color-6b6b6b;
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0;
    font-size: $space-16px;
    margin-left: $space-12px;
  }

  .lupa {
    width: $space-50px;
    height: $space-50px;
    margin-right: 0 !important;
  }
}

.first-part {
  // border: 1px solid red;
  margin: 0 auto;
  width: $space-1200px;
  margin-top: $space-25px;
  height: $space-650px;
  display: flex;
  align-items: center;

  video {
    height: $space-650px;
  }

  img {
    margin: auto;
  }
}

.border {
  border-bottom: $space-1px solid $color-cfcfcf;
  width: $space-1200px;
  margin: 0 auto;
  margin-top: $space-50px;
  margin-bottom: $space-50px;
}

.seckond-part {
  // border: 5px solid blue;
  width: $space-1200px;
  // height: 540px;
  margin: 0 auto;

  .up {
    border: $space-1px solid $color-white;
    height: $space-400px;

    p {
      // border: 1px solid black;
      font-size: $space--55px;
      font-family: Lobster;
      width: $space-521px;
      margin-top: $space-168px;
      color: $color-red;
    }

    .xocali {
      float: right;
      width: $space-595px;
      height: $space-400px;
      border-radius: $space-20px;
      transition: all .4s linear;
    }

    .xocali:hover {
      box-shadow: 0 0 $space-25px $space-1px;
    }
  }

  .down {
    // border: $space-1px solid $space-white;
    width: $space-1200px;
    margin: 0 auto;
    height: $space-400px;
    margin-top: $space-50px;

    .tank {
      height: $space-400px;
      object-fit: cover;
      float: left;
      border-radius: $space-20px;
      transition: all .4s linear;
    }

    .tank:hover {
      box-shadow: 0 0 $space-25px $space-1px $color-01c6ab;
    }

    p {
      // border: 1px solid black;
      font-size: $space--55px;
      font-family: Lobster;
      margin-top: $space-136px;
      width: $space-400px;
      float: right;
      border-radius: $space-10px;
      padding-left: $space--15px;
      padding-bottom: $space-15px;
      // color: #973e02;
      background: $radial;
    }
  }
}

.third-part {
  // border: 1px solid black;
  width: $space-1200px;
  margin: 0 auto;

  p {
    font-size: $space--55px;
    margin: 0 auto;
    margin-left: $space-32px;
    font-family: Paytone One;
    color: $color-green;
  }

  .hazirda-geden-isler {
    // border: 1px solid red;
    display: flex;
    justify-content: space-around;

    img {
      width: $space-350px;
      height: inherit;
    }
  }

  .third-part-border {
    // border: 1px solid black;
    width: $space-1200px;

    ul {
      padding: 0;
      display: flex;
      justify-content: space-around;

      li {
        list-style-type: none;
        font-size: $space--55px;
        color: $color-fbff00;
      }
    }
  }

  .two {
    font-size: $space-55px;
    margin: 0 auto;
    margin-left: $space-16px !important;
    font-family: Paytone One;
    color: $color-green;
  }
}

.fourth-part {
  // border: 1px solid black;
  width: $space-1150px;
  height: $space-415px;
  margin: auto;
  margin-top: $space-131px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;

  .container-box {
    // border: 1px solid black;
    position: relative;
    width: $space-360px;
    height: $space-330px;
    background-color: $color-fbffe3;
    border-radius: $space-10px;
    box-shadow: 0 0 $space-10px $space-5px $color-e9e9e9;
    transition: all .4s ease;


    .container-box-ul {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      list-style-type: none;
      // border: 1px solid black;
      height: $space-124px;

      .container-box-icn {
        // border: 3px solid black;
        width: $space-130px;
        height: $space-130px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $space-112px;
        background-color: $color-white;
        transition: all .4s ease;
        margin-right: $space-150px;
        box-shadow: 0 0 $space-10px $space-5px $color-e7e7e7;

        .container-box-icon {
          color: $color-c0df19;
        }
      }
    }

    .container-box-info {
      // border: 1px solid red;
      height: $space-95px;

      .container-box-info-headline {
        // border: 1px solid green;
        height: $space-31px;
        margin: 0 auto;
        font-family: Roboto;
        font-weight: 700;
        font-size: $space-20px;
        line-height: 1.1;
        box-sizing: border-box;
        text-align: center;
        padding-bottom: $space-35px;
        margin-left: $space-5px;
        margin-right: $space-5px;
      }

      .container-box-info-information {
        // border: 1px solid purple;
        margin: auto;
        margin-top: $space-9px;

        color: $color-919191;
        box-sizing: border-box;
        font-family: Muli, sans-serif;
        font-size: $space-14px;
        line-height: 1.42857143;
        text-align: center;
        width: $space-265px;
      }
    }

    .container-box-button {
      // border: 1px solid blue;
      height: $space-115px;
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        width: $space-145px;
        height: $space-50px;
        background-color: $color-c0df19;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: $space-40px;

        h1 {
          color: $color-white;
          font-size: $space-14px;
          font-weight: 400;
          line-height: 1.42857143;
          font-family: sans-serif;
        }
      }
    }
  }

  .container-box-button div:hover {
    background-color: $color-a3be10 !important;
  }

  .container-box:hover{
    box-shadow: 0 0 $space-25px $color-528349;
  }
}

.fifth-part {
  // border: 1px solid black;
  width: $space-1200px;
  height: $space-595px;
  margin: 0 auto;
  margin-bottom: $space-28px;
  display: flex;
  justify-content: space-around;

  .fifth-part-common {
    // border: 1px solid black;
    border-radius: 5%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $color-fdfff0;
    overflow: hidden;
    transition: all .4s ease;

    img {
      width: 100%;
      height: 40%;
      object-fit: cover;
    }
  }

  .fifth-part-common-end {
    // border: 1px solid black;
    height: 30%;
    margin-bottom: $space--15px;

    ul {
      // border: 1px solid black;
      height: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      list-style-type: auto;

      li {
        font-family: 'Caveat', sans-serif;
        font-size:$space-22px;
      }
    }
  }

  .fifth-part-common-middle {
    // border: 1px solid black;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-family: 'Lobster', sans-serif;
      font-size: $space-28px;
      margin: 0;
    }
  }

  .fifth-part-common:hover {
    box-shadow: 0 0 $space-5px $space-7px $color-cfcfcf;
  }

}

@media (min-width:500px) and (max-width:550px) {
  .menu,.search,.demir-yumruq,.xari-bulbul{
    display: none !important;
  }
}

@media (min-width:550px) and (max-width:630px) {
  .search,.demir-yumruq,.xari-bulbul{
    display: none !important;
  }
}

@media (min-width:630px) and (max-width:840px) {
  .search{
    display: none !important;
  }
}